<div class="wrapper-background mb-3 mt-3">
  <section class="pt-4">
    <div
      id="animated-container"
      class="container text-center d-flex flex-column align-items-center shadow-lg p-3 corners"
    >
      <h2 i18n class="mb-4 ">Instalacja systemów alarmowych</h2>
      <div id="gradient-overlay" class="separating-line mb-4"></div>
      <!-- Separating Line -->
      <div class="p-3">
        <p i18n class=" lead mobile-text">
          System sygnalizacji włamania i napadu jest jednym z najbardziej
          popularnych systemów sygnalizacji zagrożeń. Jego konfiguracja musi
          skutecznie wykrywać i sygnalizować wtargnięcia intruza (np.
          włamywacza) do chronionego obiektu, umożliwiać przetwarzanie
          informacji i obsługę systemu.
        </p>
        <p i18n class=" lead mobile-text">
          Typowy system sygnalizacji włamania i napadu składa się z:
        </p>

        <ul class="list-group list-group mt-4 mb-4 border border-blue shadow">
          <li i18n class=" list-group-item">
            <i class="material-icons md-48 bluetheme mx-2">filter_1</i>
            Centrali alarmowej oraz opcjonalnie: ekspanderów wejść/wyjść (moduły
            rozszerzeń)
          </li>
          <li i18n class=" list-group-item">
            <i class="material-icons md-48 bluetheme mx-2">filter_2</i>
            Zasilacza systemu wraz z zasilaniem awaryjnym
          </li>
          <li i18n class=" list-group-item">
            <i class="material-icons md-48 bluetheme mx-2">filter_3</i
            >Sygnalizatora
          </li>
          <li i18n class=" list-group-item">
            <i class="material-icons md-48 bluetheme mx-2">filter_4</i>
            Manipulatora
          </li>
          <li i18n class=" list-group-item">
            <i class="material-icons md-48 bluetheme mx-2">filter_5</i>
            Czujek alarmowych
          </li>
        </ul>
        <p i18n class=" lead mobile-text mb-5">
          Specjalizujemy się w montażu systemów alarmowych JABLOTORN. Układamy
          okablowanie, montujemy wszystkie elementy systemu oraz programujemy i
          dostosowujemy instalację alarmową do indywidualnych potrzeb
          użytkownika.
        </p>
        <img
          src="assets/alarm1.jpg"
          class="img-fluid rounded mb-3 mt-3"
          alt="Responsive image"
        />
      </div>
    </div>
  </section>
</div>
