<div class="wrapper-background mb-3 mt-3">
    <section class="pt-4">
      <div id="animated-container" class="container text-center d-flex flex-column align-items-center shadow-lg p-3 corners">
        <h2 i18n class="mb-4">Instalacja systemów wizyjnych telewizji przemysłowej CCTV</h2>
        <div id="gradient-overlay" class="separating-line mb-4"></div>
        <!-- Separating Line -->
        <div class="p-3">
          <p i18n class="lead mobile-text mb-5">
            Wykonujemy instalacje w „nowym” jak i „starym” budownictwie.
            Instalujemy systemu od nowa oraz modernizujemy istniejące sieci CCTV.
            Wykonujemy systemy oparte na okablowaniu Coax/Kable Koncentryczny oraz
            UTP/FTP/ Światłowód, systemy AHD, HDCVi, TVi, CVBS oraz systemy IP.
            Przy każdej realizacji sporządzamy dokumentacje nie zbędą do
            pomniejszej eksploatacji systemu. 
          </p>
          <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center">
              <img src="assets/cctv2.png" class="img-fluid rounded mb-3" alt="CCTV 2">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center">
              <img src="assets/cctv1.png" class="img-fluid rounded  mb-3" alt="CCTV 1">
            </div>
          </div>
          
        </div>
      </div>
    </section>
  </div>
  
