<div *ngIf="showPopup" class="modal show d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header cookie-bg">
                <h5 class="modal-title font-weight-bold">
                    <i class="bi bi-cookie me-2"></i> <!-- Cookie icon -->
                    Cookies
                </h5>
            </div>
            <div class="modal-body cookie-bg">
                
                <small><b>PL | </b>Używamy plików cookies do zapewnienia prawidłowego działania strony. Dodatkowo korzystamy z Google Analytics, aby zrozumieć interakcję użytkowników z naszą stroną. Nie zbieramy żadnych danych osobowych.</small>
                <small> Klikając "OK", wyrażasz zgodę na użycie wspomnianych plików cookies. Więcej informacji znajdziesz na stronie Polityka Prywatności.</small>
                <hr>
                <small><b>ENG | </b>We use cookies to ensure the proper functioning of the website. Additionally, we use Google Analytics to understand user interactions with our site. We do not collect any personal data.</small>
                <small> By clicking 'OK,' you consent to the use of the mentioned cookies. More information can be found on the Privacy Policy page.</small>
            </div>
            <div class="modal-footer cookie-bg justify-content-between"> <!-- Spread buttons apart -->
                <button type="button" class="btn btn-success" (click)="acceptCookies()">
                    <i class="bi bi-hand-thumbs-up me-2"></i> <!-- Thumbs-up icon -->
                   OK
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="rejectCookies()"><i class="bi bi-x-lg"></i></button>
            </div>
        </div>
    </div>
</div>
