<div class="wrapper-background">
    <section class="py-5">
        <div id="animated-container" class="container text-center d-flex flex-column align-items-center justify-content-center shadow-lg p-5">
            <h2 class="mb-4 text-black">KONTAKT</h2>
            <div id="gradient-overlay" class="separating-line mb-4"></div> <!-- Separating Line -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-justify icon-hover-color">
                    <i class="material-icons md-48">phone</i>
                    <a href="tel:+48123456" class="mx-2 contact-link">Piotr Jacquier - (+48) 123456</a>
                    <i class="material-icons md-48">email</i>
                    <a href="mailto:piotr@piotr.vision" class="mx-2 contact-link">piotr@piotr.vision</a>
                </li>
       
                <li class="list-group-item text-justify icon-hover-color">
                    <i class="material-icons md-48">phone</i>
                    <a href="tel:+48123646" class="mx-2 contact-link">Olaf Ammer - (+48) 123456</a>
                    <i class="material-icons md-48">email</i>
                    <a href="mailto:olaf@olaf.vision" class="mx-2 contact-link">olaf@olaf.vision</a>
                </li>
            </ul>
        </div>
    </section>
</div>
