<div class="wrapper-background">
    <section class="py-5" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
        <div id="animated-container" class="container text-center d-flex flex-column align-items-center justify-content-center shadow-lg p-5 corners">
            <h2 i18n class="mb-4 text-black">KONTAKT</h2>
            <div id="gradient-overlay" class="separating-line mb-4"></div> <!-- Separating Line -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-justify icon-hover-color">
                    <p class="my-2">Piotr Jacquier</p>
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-start">
                        <div class="mb-2 mb-md-0">
                            <i class="material-icons md-48">phone</i> 
                            <a href="tel:+48730927581" class="mx-2 contact-link">(+48)730927581</a>
                        </div>
                        <div>
                            <i class="material-icons md-48">email</i>
                            <a href="mailto:piotr@urban-vision.pl" class="mx-2 contact-link">piotr@urban-vision.pl</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item text-justify icon-hover-color">
                    <p class="my-2">Olaf Ammer</p>
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-start">
                        <div class="mb-2 mb-md-0">
                            <i class="material-icons md-48">phone</i>
                            <a href="tel:+48606303003" class="mx-2 contact-link"> (+48)606303003</a>
                        </div>
                        <div>
                            <i class="material-icons md-48">email</i>
                            <a href="mailto:olaf@urban-vision.pl" class="mx-2 contact-link">olaf@urban-vision.pl</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
