<div class="wrapper-background">
    <section class="py-5" data-aos="fade-up" data-aos-offset="300" data-aos-delay="100">
        <div id="animated-container" class="container text-center d-flex flex-column align-items-center justify-content-center shadow-lg p-5 corners">
            <h2 class="mb-4 text-black">KONTAKT</h2>
            <div id="gradient-overlay" class="separating-line mb-4"></div> <!-- Separating Line -->
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item text-justify icon-hover-color">
                    <p class="my-2">Piotr Jacquier</p>
                    <div class="d-flex flex-row align-items-center">
                        <i class="material-icons md-48">phone</i> 
                        <a href="tel:+48123456123" class="mx-2 contact-link">(+48)123456123</a>
                        <i class="material-icons md-48">email</i>
                        <a href="mailto:piotr@piotr.vision" class="mx-2 contact-link">piotr@piotr.vision</a>
                    </div>
                </li>
                
                <li class="list-group-item text-justify icon-hover-color">
                    <p class="my-2">Olaf Ammer</p>
                    <div class="d-flex flex-row align-items-center">
                        <i class="material-icons md-48">phone</i>
                        <a href="tel:+48123646123" class="mx-2 contact-link"> (+48)123456123</a>
                        <i class="material-icons md-48">email</i>
                        <a href="mailto:olaf@olaf.vision" class="mx-2 contact-link">olaf@olaf.vision</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
