
<header class="pb-5 bg-image-full header-bg">
  <div class="d-flex justify-content-end px-2 px-md-5">
    <a class="nav-link mx-1 my-1 my-md-3" href="/" ><img class="language-icon m-1" src="/assets/Flag_of_Poland.png" alt=""/><small>PL</small></a>
    <a class="nav-link mx-1 my-1 my-md-3" href="/en/" ><img class="language-icon m-1" src="/assets/Flag_of_Great_Britain.png" alt=""/><small>ENG</small></a>
  </div>
    <div class="text-center my-5">
      <img src="assets\UrbanVision1.png" class="logo">
      <h1 i18n class="text-white fs-3 text-3d mt-4">Widzisz i wiesz</h1>
    </div>
</header>
