.header-bg {
    background-image: url('src\assets\23.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
  }


  
  img {
    max-width: 100%;
    height: auto;
    max-height: 100px; /* You can adjust this if needed */
  }

