.header-bg {
    background-image: url('src\assets\23.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: white; /* Text color on top of the image */
  }


  .logo {
    background-image: url('src\assets\logouv.jpg');
    background-size: contain;
    background-position: center;
    color: white;
    height: 100px; /* Set the desired height */
    width: 200px; /* Set the desired width */
    overflow: hidden; /* Hide any overflow content */
    margin-bottom: 20px;
   
}

