<div class="wrapper-background mb-3 mt-3">
  <section class="pt-4">
    <div
      id="animated-container"
      class="container text-center d-flex flex-column align-items-center shadow-lg p-3 corners"
    >
      <h2 class="mb-4">Instalacja kontroli dostępu</h2>
      <div id="gradient-overlay" class="separating-line mb-4"></div>
      <!-- Separating Line -->
      <div class="p-3">
        <p class="lead mobile-text">
          W naszej ofercie znajduje się wykonywanie instalacji KD. Realizujemy
          następujące elementy składowe systemu:
        </p>

        <ul class="list-group list-group mt-4 mb-4 border border-blue shadow">
          <li class="list-group-item">
            <i class="material-icons md-48 bluetheme">done</i>
            Montaż czytników (klawiatury kodowe, czytniki kart magnetycznych,
            karty RFID)
          </li>
          <li class="list-group-item">
            <i class="material-icons md-48 bluetheme">done</i>
            Kontrolery dostępu (klawiatury szyfrowe)
          </li>
          <li class="list-group-item">
            <i class="material-icons md-48 bluetheme">done</i>Interfejsy
          </li>
          <li class="list-group-item">
            <i class="material-icons md-48 bluetheme">done</i>
            Urządzenia blokujące (urządzenia wyjściowe realizujące udostępnianie
            stref chronionych, czyli rygle elektromagnetyczne, zamki
            elektryczne, bramki, szlabany itp.)
          </li>
          <li class="list-group-item">
            <i class="material-icons md-48 bluetheme">done</i>
            Akcesoria (klawiatury, czujniki, przyciski wyjścia, wyświetlacze)
          </li>
        </ul>
        <p class="lead mobile-text">
          Urządzenia wejściowe systemu KD wykonujemy w postaci pojedynczych
          oddzielnych urządzeń lub jako urządzenia zespolone zawierające w
          jednej obudowie kilka elementów składowych np. czytniki z klawiaturą,
          czytniki z wyświetlaczem, czytniki z wbudowanym kontrolerem,
          wyświetlaczem i interfejsem, zwory elektromagnetyczne z wbudowanym
          czujnikiem otwarcia drzwi itp.
        </p>
        <img src="assets/access2.jpg" class="img-fluid rounded mb-3 mt-3" alt="Responsive image">

      </div>
    </div>
  </section>
</div>
