<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 i18n class="modal-title" id="termsModalLabel">Warunki Prywatności</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead">
    
          <h3 i18n class="mt-4 lead">1) Postanowienia ogólne</h3>
          <p i18n class="lead">
            Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych oraz prawa Użytkowników, zawiera informacje dotyczące Administratora Danych Osobowych, a także wykorzystania plików cookie. Dane osobowe Użytkowników są chronione przez MCM SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ zgodnie z przepisami Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) oraz Sprostowania do Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) oraz Ustawy z dnia 10 maja 2018 r. o ochronie danych osobowych.
          </p>
    
          <h3 i18n class="lead">2) Podstawowe Pojęcia</h3>
         
              <p i18n class="lead">
                Administrator danych osobowych – MCM SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ, UL. ELBLĄSKA 14, 01-737 WARSZAWA.<br>
                RODO – Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE. Ustawa – ustawa z dnia 10 maja 2018 r. o ochronie danych osobowych.
              </p>
       
    
          <h3 i18n class="lead">3) Cel Przetwarzania Danych Osobowych</h3>
          <p i18n class="lead">
            Badanie satysfakcji Użytkownika oraz marketing promujący Administratora i jego produkty oraz usługi, co stanowi spełnienie warunku zgodności z prawem przetwarzania danych, określonego w art. 6 ust. 1 lit. f RODO, jako niezbędnych do celów wynikających z prawnie uzasadnionych interesów realizowanych przez Administratora.
          </p>
    
          <h3 i18n class="lead">4) Odbiorca Danych Osobowych</h3>
          <p i18n class="lead">
            Administrator może przekazać dane osobowe, wskazane w pkt 16, podmiotom uprawnionym do otrzymania danych osobowych na podstawie przepisów prawa, decyzji organu administracji publicznej lub orzeczenia sądowego.
          </p>
    
          <h3 i18n class="lead">5) Pliki Cookie</h3>
          <p i18n class="lead">
            Plik cookie to krótki tekst wysyłany do przeglądarki internetowej przez serwis internetowy, który w danej chwili odwiedza Użytkownik. Dzięki czemu serwis zapamiętuje informacje o ustawieniach przeglądarki, a następna wizyta Użytkownika na tej stronie jest bardziej efektywna, pozwalając na łatwiejsze logowanie do usług Administratora. Administrator może przetwarzać dane zawarte w plikach cookie, w następującym celu: dostosowanie funkcjonalności dostarczanych przez Administratora, zgodnie z oczekiwaniami Użytkownika, wliczając treści reklamowe i statystyki, co odbywa się anonimowo.
          </p>
    
          <h3 i18n class="lead">6) Postanowienia Końcowe</h3>
          <p i18n class="lead">
            W sprawach nieuregulowanych w Polityce Prywatności stosuje się przepisy prawa polskiego. Administrator może dokonać zmian w Polityce Prywatności w każdym czasie. Użytkownik odwiedzający stronę Administratora po raz pierwszy, zostanie poproszony o zapoznanie się z Polityką Prywatności. W każdym czasie wizyty na stronie internetowej Administratora, Użytkownik może także zapoznać się z aktualną Polityką Prywatności, stosując dedykowany odnośnik na dole strony.
          </p>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>