<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="termsModalLabel">Warunki Prywatności</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead">Vestibulum dictum bibendum velit, a accumsan dui. Aenean non diam sapien. Phasellus a egestas diam. In non ante vitae eros eleifend tempor sed sit amet nisi. Quisque sollicitudin, purus at tincidunt posuere, dolor nisi rhoncus arcu, in cursus diam arcu a mi. Nunc at bibendum nibh. Praesent eu tellus sed arcu cursus tempus posuere ut justo. Ut congue a nibh vitae faucibus. Aenean non sem eu erat consectetur pulvinar. Pellentesque diam ex, consequat ac lorem ac, pretium pulvinar tortor. Aenean dapibus malesuada dictum. Nunc interdum nulla nunc, a rhoncus risus feugiat quis. Nulla est diam, malesuada tincidunt nisl iaculis, elementum ultrices arcu. Duis aliquam velit eget massa imperdiet, eu condimentum dui aliquam. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>