<div class="wrapper-background">
    <section class="py-5">
        <div id="animated-container" class="container text-center d-flex flex-column align-items-center justify-content-center shadow-lg p-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Warunki Prywatności</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus, purus vitae convallis euismod, odio felis porta felis, accumsan dignissim nisl ante nec libero. Sed augue purus, molestie ut efficitur et, molestie sed dolor. Vivamus ornare sollicitudin scelerisque. Etiam dapibus sollicitudin dolor, id viverra risus convallis a. In interdum ex vel nibh sodales pharetra. Sed eu nisi dignissim, facilisis diam in, pulvinar nibh. Proin maximus pretium euismod. Aliquam faucibus, ante eget luctus porta, libero dui interdum libero, ut laoreet nisi elit a augue. Suspendisse orci felis, fringilla accumsan viverra vel, luctus et urna. Donec erat augue, egestas nec leo eget, volutpat sodales mauris. Aenean turpis elit, cursus eu congue id, dapibus id lorem. Suspendisse maximus mi vestibulum sapien consectetur, vitae interdum diam porttitor. In mauris tortor, luctus eget dictum ac, rhoncus nec nibh</p>
                    <p class="mb-0">Quisque eu orci nulla. Sed a dolor risus. Proin eget placerat est. Donec pretium purus velit, a vulputate eros congue non. Donec ultricies pulvinar sollicitudin. In quis lacus vitae leo viverra sagittis sit amet condimentum nulla. Curabitur commodo sodales diam vel pharetra. Nullam auctor sem vel tellus congue vehicula</p>
                </div>
            </div>
        </div>
    </section>
</div>
