<div class="container-sm">
  <!-- ANIMACJA GŁÓWNEGO KONTENRA + STYLE -->
  <div class="py-5" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
    <div id="animated-container" class="container d-flex flex-column align-items-center shadow-lg p-3 corners">
      <!-- PIERWSZY WIERSZ -->
      <div class="row">
          <!-- SEKCJA ZDJĘĆ - RIGHT -->
          <div class="col-sm-4 mb-3">
            <img class="img-fluid" src="assets/CCTV_onas.jpg">
            <!-- <img class="img-fluid" src="assets/onas.png"> -->
          </div>
          <!-- SEKCJA TEKST - LEFT -->
          <div class="col-sm-8">
            <h2 class="mb-2 text-black">O NAS</h2>
            <div id="gradient-overlay" class="separating-line mb-3"></div> <!-- Separating Line -->
            <div class="mt-1">
              <h6 class="lh-base">
                Od <span style="font-weight:600;color: #3498db;">2014</span> roku działamy na rynku z pełnym zaangażowaniem i energią. Jesteśmy ekipą, która nie boi się wyzwań.
                Montujemy instalacje bez niszczenia elewacji (bez bruzdowo), bo wierzymy, że nawet w pracy budowlanej liczy się
                estetyka. Niezależnie od roli - czy to jako podwykonawca, czy główny wykonawca -  zawsze dajemy z siebie wszystko.
                Naszą pasją jest nie tylko wykonywanie doskonałych instalacji, ale także inspiracja do tworzenia nowatorskich rozwiązań
                z zastosowaniem nowoczesnych technologii. 
              </h6>
              <!-- SEKCJA BUTTONY INWESTYCJE -->
              <div class="text-center">
                  <h4 class="my-3">Z powodzeniem realizujemy inwestycje takie jak:</h4>
                  <button class="btn btn-outline-secondary deactivate-on-mobile" data-aos="fade-in" data-aos-offset="200" data-aos-delay="300">INSTALACJE CCTV</button>
                  <button class="btn btn-outline-secondary deactivate-on-mobile" data-aos="fade-in" data-aos-offset="180" data-aos-delay="500">KONTROLA DOSTĘPU</button>
                  <button class="btn btn-outline-secondary deactivate-on-mobile" data-aos="fade-in" data-aos-offset="170" data-aos-delay="700">SYSTEMY ALARMOWE</button>
                  <button class="btn btn-outline-secondary deactivate-on-mobile" data-aos="fade-in" data-aos-offset="150" data-aos-delay="900">STEROWANIE BRAM</button>
                  <button class="btn btn-outline-secondary deactivate-on-mobile" data-aos="fade-in" data-aos-offset="120" data-aos-delay="1100">INTELIGENTNY DOM</button>
                  <button class="btn btn-outline-secondary deactivate-on-mobile" data-aos="fade-in" data-aos-offset="80" data-aos-delay="1300">DETEKCJA POŻARU</button>
              </div>
            </div>
            <!-- SEKCJA LICZNIKÓW -->
            <div class="text-center">
              <h4 class="my-3">Znamy się na rzeczy i do tej pory:</h4>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item icon-hover-color">
                    <i class="material-icons md-48">thumb_up</i>
                    <span class="mx-2">Zamontowaliśmy już <span style="font-weight:600;color: #3498db;">{{camera_counter}} </span> szt kamer</span>
                  </li>
                  <li class="list-group-item  icon-hover-color">
                    <i class="material-icons md-48">thumb_up</i>
                    <span class="mx-2">Skonfigurowaliśmy ponad <span style="font-weight:600;color: #3498db;"> {{video_counter}} </span> szt rejestratorów</span>
                  </li>
                  <li class="list-group-item  icon-hover-color">
                    <i class="material-icons md-48">thumb_up</i>
                    <span class="mx-2">Wszystko to na ponad <span style="font-weight:600;color: #3498db;">{{localize_counter}}</span> lokalizacjach, prowadzone w bruzdach, peszlach, rurkach i pod elewacją.</span>
                  </li>
                  <li class="list-group-item  icon-hover-color">
                    <i class="material-icons md-48">thumb_up</i>
                    <span class="mx-2">Dzięki naszym instalacjom udało się zatrzymać wielu sparawców wykroczeń</span>
                  </li>
                </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

