<div class="wrapper-background">
    <section class="py-5" data-aos="fade-up" data-aos-offset="400" data-aos-delay="100">
      <div id="animated-container" class="container text-center d-flex flex-column align-items-center shadow-lg p-5 corners">
        <h2 class="mb-4 text-black">O NAS</h2>
        <div id="gradient-overlay" class="separating-line mb-4"></div> <!-- Separating Line -->
        <p>Znamy się na rzeczy, do tej pory:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item icon-hover-color">
              <i class="material-icons md-48">thumb_up</i>
              <span class="mx-2">Zamontowaliśmy już <span style="font-weight:600;color: #3498db;">{{camera_counter}} </span> szt kamer</span>
            </li>
            <li class="list-group-item  icon-hover-color">
              <i class="material-icons md-48">thumb_up</i>
              <span class="mx-2">Skonfigurowaliśmy ponad <span style="font-weight:600;color: #3498db;"> {{video_counter}} </span> szt rejestratorów</span>
            </li>
            <li class="list-group-item  icon-hover-color">
              <i class="material-icons md-48">thumb_up</i>
              <span class="mx-2">Przeciągnęliśmy ponad <span style="font-weight:600;color: #3498db;"> {{cable_counter}} </span> km kabli</span>
            </li>
            <li class="list-group-item text-justify icon-hover-color">
              <p class="lead mt-2">Wszystko to na ponad <span style="font-weight:600;color: #3498db;">{{localize_counter}}</span> lokalizacjach, prowadzone w bruzdach, peszlach, rurkach i pod elewacją.</p>
              <p class="mb-0">Dzięki zainstalowanej instalacji udało się zatrzymać sprawców poważniejszych wykroczeń</p> 
        </li>
          </ul>
          <div src="#"  class="section-image mt-4 rounded shadow"></div>
      </div>
      
    </section>
  </div>