.separating-line {
  width: 190px;
  height: 3px;
  background-color: #3498db; /* Light blue color */
  margin-bottom: 20px;
}

.icon-hover-color:hover i,
.icon-hover-color:hover span {
  color: #3498db; /* Light blue color on hover */
}

.section-image {
  background-image: url('src\assets\onas.png');
  height: 310px;
  width: 580px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 770px) {
  /* Adjust the size for screens smaller than 768 pixels (e.g., mobile) */
  .section-image {
    width: 80%; /* Set the width to 100% for smaller screens */
    height: 200px; /* Set the height to your desired value for smaller screens */
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  flex: 1;
  width:220px;
  max-width: 250px; /* Set a max-width to prevent buttons from stretching too wide */
  margin: 1px; /* Adjust margin as needed */
}


