<div class="wrapper-background">
    <section class="py-5">
      <div id="animated-container" class="container text-center d-flex flex-column align-items-center justify-content-center shadow-lg p-5">
        <h2 class="mb-4 text-black">O NAS</h2>
        <div id="gradient-overlay" class="separating-line mb-4"></div> <!-- Separating Line -->
        <p>Znamy się na rzeczy, do tej pory:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-justify icon-hover-color">
              <i class="material-icons md-48">thumb_up</i>
              <span class="mx-2">Do tej pory zamontowaliśmy już 2000 kamer</span>
            </li>
            <li class="list-group-item text-justify icon-hover-color">
              <i class="material-icons md-48">thumb_up</i>
              <span class="mx-2">Skonfigurowaliśmy ponad 200 rejestratorów</span>
            </li>
            <li class="list-group-item text-justify icon-hover-color">
              <i class="material-icons md-48">thumb_up</i>
              <span class="mx-2">Przeciągnęliśmy ponad 30 km kabli</span>
            </li>
            <li class="list-group-item text-justify icon-hover-color">
            Wszystko to na ponad 160 lokalizacjach, prowadzone w bruzdach, peszlach, rurkach i pod elewacją.
            <p>Dzięki zainstalowanej instalacji udało się zatrzymać sprawców poważniejszych wykroczeń</p> 
        </li>
          </ul>
         
      </div>
    </section>
  </div>