<div class="wrapper-background mb-3 mt-3">
  <div id="oferta" class="mb-2">
    <section class="pt-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
      <div id="animated-container" class="container text-center d-flex flex-column align-items-center shadow-lg p-5 corners">
        <h2 i18n class=" mb-4">OFERTA</h2>
        <div id="gradient-overlay" class="separating-line mb-4"></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a i18n class=" nav-link text-justify fs-6" routerLink="/cctv">
              <i class="material-icons md-48 align-middle fs-3">videocam</i> Instalacja systemów wizyjnych telewizji przemysłowej CCTV
            </a>
          </li>
          <li class="list-group-item">
            <a i18n class=" nav-link text-justify fs-6" routerLink="/access">
              <i class="material-icons md-48 align-middle fs-3">fingerprint</i> Instalacja kontroli dostępu
            </a>
          </li>
          <li class="list-group-item">
            <a i18n class=" nav-link text-justify fs-6" routerLink="/alarm">
              <i class="material-icons md-48 align-middle fs-3">notifications</i> Instalacja systemów alarmowych
            </a>
          </li>
          <!-- <li class="list-group-item">
            <a class="nav-link text-justify" routerLink="/other">
              <i class="material-icons md-48">build</i> Pozostałe instalacje
            </a>
          </li>   -->
        </ul>
      </div>
    </section>
  </div>
</div>

<!-- SEKCJA BEZPIECZEŃSTWO I KONSERWACJA -->
<section class="py-2 mx-2" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
    <div class="container my-md-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 i18n class=" center-mobile">Nadzór - Bezpieczeństwo - Konserwacja</h2>
                <p i18n class=" lead center-mobile">Jesteśmy liderem w dziedzinie monitoringu i bezpieczeństwa. Świadczymy również usługi związane serwisem i konserwacją systemów CCTV.</p>
                <p i18n class=" mb-0 center-mobile">Konserwacją obejmujemy zarówno spółdzielnie mieszkaniowe jak i wspólnoty. Czuwamy nad prawidłowym działaniem systemu oraz w przypadku wystąpienia awarii reagujemy natychmiastowo, dzięki czemu system działa bez przerwy. Monitorujemy system 24h na dobę, zgrywamy materiały z zdarzeń i dostarczamy je do klienta zarówno w formie fizycznej na DVD, jak i elektronicznej na zewnętrzny serwer w chmurze.</p>
            </div>
        </div>
    </div>
</section>

<!-- BANER ZDJĘCIE -->
<div class="py-1 bg-image-full section-image">
  <div style="height: 20rem"></div>
</div>

<!-- COMPONENT ABOUT US -->
<app-about id="about" ></app-about>
<!-- SEKCJA NASZE REALIZACJĘ -->
<section class="py-2 mx-1" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
  <div class="container-lg my-md-5">
      <div class="row justify-content-center">
          <div class="col">
              <h2 i18n>Nasze Realizacje:</h2>
              <ul class="list-group list-group mt-4 mb-4 border border-blue shadow">
                <li i18n class="list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż nowego systemu monitoringu HDCVi dla Zarząd Oczyszczania Miasta al. Jerozolimskie 11/19  – Generalny Wykonawca - 2017
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż systemu telewizji przemysłowej SM Bródno – Osiedla Wysockiego, Kondratowicza, Toruńska, Podgrodzie – Monitoring CVBS/AHD jako podwykonawca – ponad 200 budynków w latach 2014 - 2017 
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż systemu telewizji przemysłowej SBM Torwar – Monitoring IP jako podwykonawca - 50 budynków – 2019
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż systemu telewizji przemysłowej AHD/ IP osiedle Wilno – jako podwykonawca - modernizacja, dostosowanie do podłączenia
                  do centrum monitorowania – Ponarska 6,6a Ul. Zamkowa 1,3,2,4, Pohulanka 10,12 
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż systemu telewizji przemysłowej IP RSM Ursus – jako podwykonawca – 12 budynków 
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż monitoringu na molo w Płocku, system IP – jako podwykonawca - 2019  
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż kamer, Lewa Conservancy Park, Jersey Zoo / Wyspa Jersey – jako podwykonawca - 2019
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż monitoringu dla W.M Modzelewskiego 45/50 – 46 kamer – Generalny Wykonawca - 2019   
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż nowego systemu monitoringu WSM Os. Skarpa marymoncka – Generalny wykonawca – 2023  
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Modernizacja pod Centrum monitorowania systemu monitoringu Os. WILLE LAZUROWA - Generalny wykonawca – 2023   
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż nowego systemu monitoringu dla Os. Topolowa – SBM Brodno – Generalny wykonawca - 2022 
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż nowego systemu monitoringu dla CEMAT 70’ – Budynek nr 6, Generalny wykonawca – 2023
                </li>
                <li i18n class=" list-group-item">
                  <i class="material-icons md-48 bluetheme">done</i>
                  Montaż nowego sytemu monitoringu i modernizacją istniejącego oraz uruchomieniem systemu powiadamiania
                  ochrony (system alarmowy-przyzywowy) - Os. Rydygiera - 2023
                </li>
              </ul>
        
          </div>
      </div>
  </div>
</section>
<!-- COMPONENT CONTACT -->
<app-contact id="contact" ></app-contact>


  