

  
  .icon-hover-color:hover {
    color: #3498db; /* Light blue color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.nav-link:hover {
  color: #3498db; /* Light blue color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.section-image {
    background-image: url('src\assets\4.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: white; /* Text color on top of the image */
  }

.shadow-bottom{
  box-shadow: 0 0
  px 15px -5px gray;
}

