 .icon-hover-color:hover {
    color: #3498db; /* Light blue color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.nav-link:hover {
  color: #3498db; /* Light blue color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.section-image {
    background-image: url('src\assets\camera_banner.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: white; /* Text color on top of the image */
  }

.shadow-bottom{
  box-shadow: 0 0
  px 15px -5px gray;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
}

.border-blue {
  border-color: #3498db !important; /* Sets the border color to a specific shade of blue */
}

.bluetheme{
  color: #3498db
}

@media (max-width: 767px) {
  .center-mobile  {
      text-align: center !important;
  }
}

@media (min-width: 992px) {
  #animated-container {
    max-width: 800px; /* Adjust the width as per your requirement */
    margin-left: auto;
    margin-right: auto;
  }
}