<div class="wrapper-background mb-3 mt-3">
  <div id="oferta" class="mb-2">
    <section class="pt-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
      <div id="animated-container" class="container text-center d-flex flex-column align-items-center shadow-lg p-5 corners">
        <h2 class="mb-4">OFERTA</h2>
        <div id="gradient-overlay" class="separating-line mb-4"></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="nav-link text-justify" routerLink="/cctv">
              <i class="material-icons md-48">videocam</i> Instalacja systemów wizyjnych telewizji przemysłowej CCTV
            </a>
          </li>
          <li class="list-group-item">
            <a class="nav-link text-justify" routerLink="/access">
              <i class="material-icons md-48">fingerprint</i> Instalacja kontroli dostępu
            </a>
          </li>
          <li class="list-group-item">
            <a class="nav-link text-justify" routerLink="/alarm">
              <i class="material-icons md-48">notifications</i> Instalacja systemów alarmowych
            </a>
          </li>
          <!-- <li class="list-group-item">
            <a class="nav-link text-justify" routerLink="/other">
              <i class="material-icons md-48">build</i> Pozostałe instalacje
            </a>
          </li>   -->
        </ul>
      </div>
    </section>
  </div>

  <section class="py-2 mx-2" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
    <div class="container my-md-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Nadzór - Bezpieczeństwo - Konserwacja</h2>
                <p class="lead">Jesteśmy liderem w dziedzinie monitoringu i bezpieczeństwa. Świadczymy również usługi związane serwisem i konserwacją systemów CCTV.</p>
                <p class="mb-0">Konserwacją obejmujemy zarówno spółdzielnie mieszkaniowe jak i wspólnoty. Czuwamy nad prawidłowym działaniem systemu oraz w przypadku wystąpienia awarii reagujemy natychmiastowo, dzięki czemu system działa bez przerwy. Monitorujemy system 24h na dobę, zgrywamy materiały z zdarzeń i dostarczamy je do klienta zarówno w formie fizycznej na DVD, jak i elektronicznej na zewnętrzny serwer w chmurze.</p>
            </div>
        </div>
    </div>
</section>

<div class="py-1 bg-image-full section-image hide-on-mobile">
  <div style="height: 20rem"></div>
</div>

</div>
<app-about id="about" ></app-about>
<app-contact id="contact" ></app-contact>



  