<!-- NAVBAR -->

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid justify-content-center">
    <div class="" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a i18n class="nav-link mx-md-5" href="#oferta">OFERTAA</a>
        </li>
        <li class="nav-item">
          <a i18n class="nav-link mx-md-5" href="#about">O NASS</a>
        </li>
        <li class="nav-item">
          <a i18n class="nav-link mx-md-5" href="#contact">KONTAKT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link language-icon" href="/" ><img class="language-icon m-1" src="/assets/Flag_of_Poland.png" alt=""/><small>PL</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link language-icon " href="/en/" ><img class="language-icon m-1" src="/assets/Flag_of_Great_Britain.png" alt=""/><small>ENG</small></a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<div class="container-fluid bg-light shadow-bottom">
  <div class="d-flex justify-content-center flex-nowrap">
    <a i18n class="nav-link mx-3 mx-md-5 my-1 my-md-3" href="#oferta">OFERTA</a>
    <a i18n class="nav-link mx-3 mx-md-5 my-1 my-md-3" href="#about">O NAS</a>
    <a i18n class="nav-link mx-3 mx-md-5 my-1 my-md-3" href="#contact">KONTAKT</a>
  </div>
</div>



<div class="wrapper-background mb-3 mt-3">
  <section class="pt-4" id="oferta" data-aos="fade-up" data-aos-offset="350" data-aos-delay="80">
    <div id="animated-container" class="container text-center d-flex flex-column align-items-center shadow-lg p-5 corners">
      <h2 class="mb-4">OFERTA</h2>
      <div id="gradient-overlay" class="separating-line mb-4"></div> <!-- Separating Line -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center icon-hover-color">
          <a class="nav-link text-justify">
            <i class="material-icons md-48">videocam</i> Instalacja systemów wizyjnych telewizji przemysłowej CCTV
          </a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center icon-hover-color">
          <a class="nav-link text-justify">
            <i class="material-icons md-48">fingerprint</i> Instalacja kontroli dostępu
          </a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center icon-hover-color">
          <a class="nav-link text-justify">
            <i class="material-icons md-48">notifications</i> Instalacja systemów alarmowych
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="py-2" data-aos="fade-up" data-aos-offset="300" data-aos-delay="100">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Nadzór i Bezpieczeństwo</h2>
                <p class="lead">Jesteśmy liderem w dziedzinie monitoringu i bezpieczeństwa. Nasza firma oferuje kompleksowe usługi.</p>
                <p class="mb-0">Dzięki wieloletniemu doświadczeniu, dostarczamy innowacyjne rozwiązania monitoringu, które spełniają najwyższe standardy jakości. Nasza pasja do bezpieczeństwa sprawia, że jesteśmy gotowi sprostać nawet najbardziej wymagającym wyzwaniom.</p>
            </div>
        </div>
    </div>
</section>

<div class="py-2 bg-image-full section-image">
  <div style="height: 20rem"></div>
</div>

</div>
<app-about id="about" ></app-about>
<app-contact id="contact" ></app-contact>



  