.separating-line {
    width: 190px;
    height: 3px;
    background-color: #3498db; /* Light blue color */
    margin-bottom: 20px;
  }
  
  .icon-hover-color:hover {
    color: #3498db; /* Light blue color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

  .section-image {
    background-image: url('src\assets\4.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: white; /* Text color on top of the image */
  }
  
  @media (max-width: 767px) {
    .navbar-nav {
      flex-direction: row !important;
    }
    .navbar-nav .nav-item {
      margin-right: 10px; /* Adjust the margin as needed */
    }
  }