/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
    --primary-color: #0f9499;
    --secondary-color: #b5a77a;
    --body-text-color: #596392;
    --background-color: #8e8181;
}

