<footer class="fixed-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="mb-1 font-italic">Firma Urban Vision powstała z połącznia firm „AmTech” oraz „Pure Engineering”.</p>
            </div>
            <div class="col-lg-6 text-lg-right">
                <p class="mb-0">
                    <a routerLink="/terms" class="text-dark mr-3">Polityka Prywatności</a>
                    <span class="mx-2">&copy; 2024 Urban Vision. Wszystkie prawa zastrzeżone.</span>
                </p>
            </div>
        </div>
    </div>
</footer>
