<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="mb-1 font-italici18n ">Firma Urban Vision powstała z połącznia firm „AmTech” oraz „Pure Engineering”.</p>
          <p class="mb-0">
            <a href="#" class="i18n text-dark mr-3" data-bs-toggle="modal" data-bs-target="#termsModal">Polityka Prywatności</a>
            <span class="mx-2">&copy; 2024 Urban Vision. Wszystkie prawa zastrzeżone.</span>
          </p>
        </div>
      </div>
    </div>
  </footer>
  

<app-terms-conditions></app-terms-conditions>
